venv/*
**/.DS_Store*
.pytest_cache*
__pycache__*
.coverage
.env

# files that are too large
**/P1_14A1_ KRT19 green INS white stack.czi
**/P1_14A1_ KRT19 green INS white stack.tif
**/P1_14A1_KRT green INS white stack higher res.czi
**/P1_14A1_KRT green INS white stack higher res.tif
**/P1_14A1_KRT green INS white stack_Stitch.czi
**/P1_14A2_CD31 red INS white stack high res 2x.czi
**/P1_14A2_CD31 red INS white stack high res 2x.tif
**/P1_14A2_CD31 red INS white stack high res.czi
**/P1_14A2_CD31 red INS white stack high res.tif
**/P1_19A1 KRT green INS white stack 2x.czi
**/P1_19A1 KRT green INS white stack 2x.tif
**/P1_19A1 KRT green INS white stack.czi
**/P1_19A1 KRT green INS white stack.tif
**/P1_19A2 CD31 red INS white stack.czi
**/P1_19A2 CD31 red INS white stack.tif
**/P1_7A2_CD31 INS tile and stack_Stitch.czi
**/P1_7A2_KRT CD31 INS higher res_Stitch.czi
**/P1_7A2_KRT CD31 INS higher res_Stitch.tif
**/P1_7A2_KRT CD31 INS tile stack higher res 2_Stitch.czi
**/P1_7A2_KRT CD31 INS tile stack_Stitch.czi
**/P1_7A2_KRT CD31 INS tile stack_Stitch.tif
**/app/assets/optical-clearing-czi/P2-1A/*/*.czi
**/app/assets/optical-clearing-czi/P2-7A/*/*.czi
**/app/assets/optical-clearing-czi/P2-7A/*/*.avi
**/app/assets/optical-clearing-czi/P2-13A/*/*.czi
**/app/assets/optical-clearing-czi/P2-19A/*/*.czi
**/app/assets/optical-clearing-czi/P2-19A/*/*.czi
**/app/assets/scientific-images/P2-1A/*/*.czi
**/app/assets/scientific-images/P2-7A/*/*.czi
**/app/assets/scientific-images/P2-7A/*/*.avi
**/app/assets/scientific-images/P2-13A/*/*.czi
**/app/assets/scientific-images/P2-19A/*/*.czi
**/app/assets/scientific-images/P2-19A/*/*.czi
**/app/assets/scientific-images/P2*

# script depots
**/scripts/t-in
**/scripts/t-out

# config files
**/blocks.csv
**/image-sets.csv

# depot
**/depot/images/**