body {
    font-size: 1.25rem;
}

hr {
    border: 1px solid #555;
}
#navbar {
    position: "fixed";
    top: 0;
    left: 0;
    bottom: 0;
    width: 25rem;
    padding: 2rem 1rem;
    font-size: 1.5rem;
}

#content-div {
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

#main-content {
    display: flex;
}

h1, footer {
    margin: 1rem 1rem 1rem 1rem;
}

.viz-placeholder {
    width: 850px;
    height: 300px;
    border: 2px solid black;
    margin-bottom: 2rem;
    padding: 1rem;
}

.dcc-graph {
    height: 700px;
    width: 900px;
}

.download-button {
    margin: .75rem .75rem .75rem .75rem;
}