body {
    font-size: 1.25rem;
}

hr {
    border: 1px solid #555;
}

#content-div {
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.title {
    padding: 1rem 1rem 1rem 1rem;
}

.sub-nav {
    margin-left: .6rem;
}

.dcc-graph {
    height: 600px;
}

footer {
    margin: 1rem 1rem 1rem 1rem;
}

.viz-placeholder {
    width: 850px;
    height: 300px;
    border: 2px solid black;
    margin-bottom: 2rem;
    padding: 1rem;
}

.download-button {
    margin: .75rem .75rem .75rem .75rem;
}

#slice-view {
    margin-top: 2rem;
    margin-bottom: 2rem;
}