body {
    font-size: 1.25rem;
}

hr {
    border: 1px solid #555;
}

#content-div {
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.title {
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 0px;
}

.all-data {
    margin-left: 20px;
    margin-right: 10px;
}

.dcc-graph {
    height: 600px;
}

footer {
    margin: 1rem 1rem 1rem 1rem;
}

.download-button {
    margin: .75rem .75rem .75rem .75rem;
}

#slice-view {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#block-table {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 0;
    text-align : left;
    font-family: 'Source Sans Pro';
 }